.App {
  font-family: sans-serif;
  text-align: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);

  font-size: 1.5rem;
  font-weight: lighter;
}

.display {
  grid-column: 1/5;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  border: 1px black solid;
  padding-inline-end: 2rem;
  text-align: right;
  background-color: darkgray;
  font-size: 2rem;
  color: #fff;
}

.zero {
  grid-column: 1/3;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eee;
  border: 1px black solid;
}

.operator {
  background-color: orange;
  color: #fff;
}
